<br/>
<div class="row" style="cursor: pointer;">
  <div class="col-sm-3 text-center" data-toggle="tooltip" data-placement="bottom" title="Mensaje normal: necesitas 5 puntos para crear uno">
    <%= image_tag("newmsg_normal.png", :alt => "Bogotáapp", style:"height: 90px; width: 90px;") %>
    <br/>
    Mensaje
  </div>
  <div class="col-sm-3 text-center" data-toggle="tooltip" data-placement="bottom" title="Mensaje con Foto: necesitas 10 puntos para crear uno nuevo">
    <%= image_tag("newmsg_photo.png", :alt => "Bogotáapp", style:"height: 90px; width: 90px;") %>
    <br/>
    Mensaje+Foto
  </div>
  <div class="col-sm-3 text-center" data-toggle="tooltip" data-placement="bottom" title="Convocatoria: necesitas 10 puntos">
    <%= image_tag("newmsg_event.png", :alt => "Bogotáapp", style:"height: 90px; width: 90px;") %>
    <br/>
    Convoca
  </div>
  <div class="col-sm-3 text-center" data-toggle="tooltip" data-placement="bottom" title="Evento: necesitas 20 puntos">
    <%= image_tag("newmsg_event.png", :alt => "Bogotáapp", style:"height: 90px; width: 90px;") %>
    <br/>
    Evento
  </div>
</div>
<br/><hr/><br/>
<div class="row" style="cursor: pointer;">
    <div class="col-sm-4 text-center" data-toggle="tooltip" data-placement="bottom" title="Venta de bienes o Servicios: necesitas 20 puntos para aparecer en el Tablón de Anuncios">
      <%= image_tag("newmsg_service.png", :alt => "Bogotáapp", style:"height: 90px; width: 90px;") %>
      <br/>
      Nuevo Servicio
    </div>
    <div class="col-sm-4 text-center" data-toggle="tooltip" data-placement="bottom" title="Denuncia Pública: necesitas 5 puntos">
      <%= image_tag("newmsg_denuncia_publica.png", :alt => "Bogotáapp", style:"height: 90px; width: 90px;") %>
      <br/>
      Denuncia Pública
    </div>
    <div class="col-sm-4 text-center" data-toggle="tooltip" data-placement="bottom" title="Denuncia Anónima: necesitas 5 puntos">
      <%= image_tag("newmsg_denuncia_anonima.png", :alt => "Bogotáapp", style:"height: 90px; width: 90px;") %>
      <br/>
      Denuncia Anónima
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <br/>
    <hr/>
    <br/>
    [Formulario según la opción de arriba seleccionada...]
    <br/>
    <hr/>
    <br/>
  </div>
</div>
<hr/>
<br/>
<h3>Leyenda:</h3>
<div class="row">
  <div class="col-sm-12">
    Para crear Tus Mensajes deberás redimirlos por puntos...
    <br/>
    <strong>Mensaje</strong>: <b>5 puntos</b>. Podrás decir con palabras lo que quieras! tu Localidad, Barrio o Comunidad se enterará.
    <br/> - duración en el timeline de la Localidad: <i>2 días</i>
    <br/>
    <strong>Mensaje+Foto</strong>: <b>10 puntos</b>. Dilo con un Mensaje + 1 foto 
    <br/> - duración en el timeline de la Localidad: <i>2 días</i>
    <br/>
    <strong>Convoca</strong>: <b>10 puntos</b>. Recuerdale a la Comunidad que hay un Evento futuro, que estén muy pendientes
    <br/> - duración en el timeline de la Localidad: <i>2 días</i>
    <br/>
    <strong>Evento</strong>: <b>20 puntos</b>. Torneo de Futbol-5, competencia de cometas, obra teatral infantil,... Invita a los de la "cuadra", a los de tu Barrio, a un Evento. 
    Estas Convocatorias deben tener: fecha, hora, lugar exacto, tiempo de duración del evento y si puedes cita la referencia en Google Maps.
    <br/> - duración en la sección Eventos: <i>Hasta la fecha de vencimiento del Evento</i>
    <br/>
    <strong>Nuevo Servicio</strong>: <b>20 puntos</b>. Si eres un emprendedor y deseas poner tus talentos al servicio de los de tu "Barrio" (por ejemplo cocinas, coses ropa, se dictan clases a domicilio, se dan clases de baile, deseas vender tus artículos usados,  y más).
    <br/> - duración en el timeline de la Localidad: <i>2 días</i>
    <br/>
    <strong>Denuncia Pública</strong>: <b>5 puntos</b>. Denuncia algún daño que hicieron en tu calle, o se rompió una tubería, arrollaron un paradero, o alguna otra novedad... Notifícala por esta vía (tu Alias y Nombre de usuario se verá en tu Denuncia).
    <br/> - duración en el timeline de la Localidad: <i>2 meses</i>
    <br/>
    <strong>Denuncia Anónima</strong>: <b>5 puntos</b>. Lo mismo que el punto anterior, pero tu nombre ni alias de usuario se verán públicamente.
    <br/> - duración en el timeline de la Localidad: <i>2 meses</i>
    <br/>
    <strong>Evento tipo "Alerta"</strong>: <b>0 puntos</b>. Solamente en caso de Temblor, incendio, inundación, manifestacion pública.
    <br/> - duración en el timeline de la Localidad: <i>4 horas</i>
    <br/>
    <strong>Evento tipo "Tricolor"</strong>: <b>0 puntos</b>. [Mensaje inmediato]. Ganó la Tricolor o veamos el partido en una pantalla pública gigante, mensaje al estilo 'Ganó Colombia, celebremos ya en TAL lugar'.
    <br/> - duración en el timeline de la Localidad: <i>4 horas</i>
  </div>
</div>